.navbar-fixed-top .nav {
   padding: 2% 13%;
   
}
.navbar{
	margin-bottom:0px;
}
.dropdown-menu{
      -webkit-box-shadow: none;
    box-shadow:none;
}
.navbar-default .navbar-nav>li>a {
    color: #777;
	
    font-size: 18px;
    line-height: 1.2em;
    /* padding: 21%; */
    text-align: center;
	padding: 26px 31px;
}
.navbar-default .navbar-nav>li>a:hover{
	color:#a0ce4e;
}

.nav>li {
    position: relative;
    display: inline-block;
    left: 44%;
}	
.courses{
	text-align:center;
	height:550px;
	padding: 80px 0;
}
h2{
	font-size:38px;
	line-height:1.2em;
	text-align:center;
	
}
/*------------for top hero image--------*/
#hero-area1 {
    background: url(../images/temp.jpg) no-repeat 50%;
    background-size: cover;
    /*--background-attachment: fixed;---*/
   padding:192px 0;
   /*-- color: #fff;---*/
   /*-- box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);---*/
    position: relative;
	
}
#hero-area1 h1 {
    font-size: 40px;
    line-height: 50px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}


#hero-area1 h2 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 38px;
    line-height: 27px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin-top: 25px;
}


#hero-area1 .btn {
    background: #414141;
    border: none;
    color: #fff;
    padding: 20px 35px;
    margin-top: -30px;
    font-size: 16px;
    font-size: 13px;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: normal;
    border-radius:32px;
	background:#a0ce4e;
}


/*---------------------------------------*/
.institute{
	height:500px;
	padding-right:0px;
	background:#f2f2f2;
}
.info{
	
	padding-left:0px;
	padding-right:0px;
}
.imageinfo{
	padding-right:0px;
}
.about_academy{
	margin: 0 0 10px;
    font-size: 24px;
    /* margin: 2% 20%; */
    text-align: center;
    line-height: 2.2em;
}

#footer {
    float: left;
    display: inline;
    width: 100%;
	
}
.footer-top {
    background-color: #fff;
    border-top: 2px solid #e9e9e9;
    display: inline;
    float: left;
    min-height: 100px;
    padding: 80px 0;
    width: 100%;
}
.single-footer-widget {
    float: left;
    display: inline;
    width: 100%;
    padding: 0 10px;
    color: #555;
}
.single-footer-widget .section-heading > h2 {
    font-size: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    line-height: 25px;
}
/*--h2 {
    color: #313338;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin: 0;
    padding-bottom: 10px;
}---*/
.single-footer-widget .line {
    margin: 0 0 20px;
}
.single-footer-widget .section-heading {
    text-align: left;
}
.section-heading {
    float: left;
    display: inline;
    width: 100%;
    text-align: center;
}
.single-footer-widget {
    float: left;
    display: inline;
    width: 100%;
    padding: 0 10px;
    color: #555;
}





.footer-middle {
  background-color: #f3f3f3;
  display: inline;
  float: left;
  padding: 25px 0;
  width: 100%;
}
.footer-copyright{
	float: left;
	display: inline;
	width: 100%;
}
.footer-copyright>p{
	margin-bottom: 0px;
	font-size: 16px;
}
.footer-copyright>p>a{
	text-decoration: none;
    outline: none;
    border-bottom: 1px transparent;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s
}
.footer-social{
	float: left;
	display: inline;
	width: 100%;
	text-align: right;
}
.footer-social a {  
	display: inline-block;
	float: none;
	font-size: 15px;
	height: 30px;
	line-height: 29px;
	margin: 0 3px;
	text-align: center;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	width: 35px
}
.footer-bottom {
  background-color: #fff;
  display: inline;
  float: left;
  width: 100%;
  padding: 20px 0 ;
  text-align: center;
}
.footer-bottom p{
	margin-bottom: 0px;
	font-size: 15px;
}
.footer-bottom p a {
	border-bottom: 1px solid #ccc;
	outline: medium none;
	padding-bottom: 2px;
	text-decoration: none;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
#testimonial, #application{
	/*--height:500px;--*/
	padding: 80px 0;
}

.service_section1, .service_section2{
	padding-top:7%;
	padding-bottom:7%;
}
.service_section2{
	padding-bottom:10%;
}
figure.snip1232 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important;
}
figure.snip1232 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip1232 img {
  max-width: 100%;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-right: 5px;
  display: block;
  z-index: 1;
  position: absolute;
  right: 50%;
}
figure.snip1232 blockquote {
  margin: 0;
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #fafafa;
  padding: 65px 50px 35px 50px;
  font-size: 0.8em;
  font-weight: 500;
  margin: -40px 0 0;
  line-height: 1.6em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size:14px;
}
figure.snip1232 blockquote:before,
figure.snip1232 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.snip1232 blockquote:before {
  top: 55px;
  left: 20px;
}
figure.snip1232 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 5px;
}
figure.snip1232 .author {
  margin: 0;
  height: 80px;
  display: block;
  text-align: left;
  padding: 0 35px;
  position: relative;
  z-index: 1;
}
figure.snip1232 .author h5,
figure.snip1232 .author span {
  left: 50%;
  position: absolute;
  opacity: 0.8;
  padding: 3px 5px;
}
figure.snip1232 .author h5 {
  text-transform: uppercase;
  bottom: 50%;
  margin: 0;
  font-weight: 800;
  color: #ffffff;
}
figure.snip1232 .author span {
  font-size: 0.8em;
  color: #000000;
  top: 50%;
  font-weight: 500;
}
.application_info{
	font-size:18px;
	text-align:center;
	padding-top:1%;
}
#application{
	position:relative;
	background:#00b3b3;
}
button.get_started{
	top:33px;
	left:45%;
	position:relative;
	border-radius:36px;
	font-size:26px;
}
.service-icons{
	
	vertical-align:center;
	position:relative;
	
}
img{
	min-width:60px;
	
}
.service-card{
	position:relative;
}

.service-info{
	position: absolute;
    left: 110px;
}
/*********************************Large Device********************************/
@media only screen and (min-width:1051px) and (max-width:2050px){
	.service-icons{
	
	
	
	}
	.service-card{
		
	}
}


/*********************************Medium devices- Tablets********************************/	
	
@media only screen and (min-width:751px) and (max-width:1050px) {}	

/********************************Small devices- Tablets********************************/
@media only screen and (min-width:241px) and (max-width:750px) {
	.service-icons{
		    position: relative;
    max-width: 60px;
    margin-top: 65%;
	
	
	}
}
.top_social_icon{
	font-size:18px;
}
.affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

  .affix + .container-fluid {
      padding-top: 60px;
  }
  .social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
	 padding:1% 1%;
	 font-size: 25px;
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
	 color:black;
 }
#social-fb:hover {
     color: #3B5998;
 }
#social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
.icon-bar{
	padding: 1% 7%; 
}
.topheader{
	position:relative;
	
}
#social-envelope{
	
}	
#email_info{
	    left: 52%;
    top: 3%;
    position: absolute;
    display: inherit;
}
.features {
   /*-- background-color: #f4f7f9;--*/
}
#features,#testimonial{
	    padding: 80px 0;
}

.all{
	font-family: 'Open Sans', sans-serif;
    line-height: 21px;
    font-size: 13px;
    color: #6a737b;
}
.mb50 {
    margin-bottom: 50px;
}
.sec-title {
}
.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}
.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.sec-title h2 {
    color: #00;
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
}
.devider {
    margin-top: 30px;
}
.service-icon {
    border: 1px solid #000;
    border-radius: 50%;
    color:lighter gray;
    float: left;
    padding: 10px 13px;
}
.service-desc {
    margin-left: 70px;
    position: relative;
    top: 5px;
}
.service-desc h3 {
    color: #062033;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
}

#call-to-action {
    background: #00b3b3;
    background-size: cover;
    background-attachment: fixed;
    padding: 80px 0;
    text-align: center;
    position: relative;
    color: #fff;
}
#call-to-action .block {
    position: relative;
    z-index: 99;
    color: #fff;
}
#call-to-action .block h2 {
    margin-bottom: 15px;
    color: #fff;
}
.title {
    font-size: 30px;
    line-height: 1.1;
    font-weight: 300;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#call-to-action .block p {
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}  



.hero-section {
  background: url(../images/christopher-gower.jpg) 50% no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section .hero-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
}





#hero-area {
    background: url(../images/banner.jpg) no-repeat 50%;
    background-size: cover;
    /*--background-attachment: fixed;---*/
   padding:192px 0;
   /*-- color: #fff;---*/
   /*-- box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);---*/
    position: relative;
	
}
#hero-area .block {
    position: relative;
    z-index: 999;
}
#hero-area h1 {
    font-size: 40px;
    line-height: 50px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}


#hero-area h2 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 38px;
    line-height: 27px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin-top: 25px;
}


#hero-area .btn {
    background: #414141;
    border: none;
    color: #fff;
    padding: 20px 35px;
    margin-top: -30px;
    font-size: 16px;
    font-size: 13px;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: normal;
    border-radius:32px;
	background:#a0ce4e;
}

